# This file may be used to create an environment using:==
# $ conda create --name <env> --file <this file>==
# platform: osx-64==
anyio
appdirs
appnope
argon2-cffi
async_generator
attrs
babel
backcall
beautifulsoup4
black
bleach
bottleneck
brotlipy
chardet
chart-studio
click
click-plugins
cryptography
cython
dash
dash-auth
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-bootstrap-components
decorator
fiona
flask
flask-compress
flask-seasurf
flask-caching
geopandas
gunicorn
httpagentparser
importlib-metadata
importlib_metadata
ipykernel
ipython
ipython_genutils
itsdangerous
json5
jsonschema
jupyter-packaging
jupyter_client
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
matplotlib
mypy_extensions
nbclassic
nbclient
nbconvert
nbformat
notebook
numexpr
numpy
openpyxl
pandas
pandas-datareader
pandocfilters
pip
plotly
python-dateutil
regex
requests
scipy
setuptools
shapely
statsmodels
terminado
urllib3
werkzeug
xlrd
streamlit
yfinance
